@charset "utf-8";
@font-face {
    font-family: "ONE Mobile Light";
    src: url(../fonts/ONE\ Mobile\ Light.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "ONE Mobile Regular";
    src: url(../fonts/ONE\ Mobile\ Regular.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "ONE Mobile Bold";
    src: url(../fonts/ONE\ Mobile\ Bold.ttf) format("truetype");
    font-weight: 400;
}



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
:root{
    --text-color:#555;
    --tit-color:#111;
    --sub-color:#777;
    --foint2-color:#143476;
    --foint-color:#02c73c;

    --space10:10px;
    --space45:40px;
    --space60:60px;
}

html{
    color: var(--tit-color);
    font-size: 14px;
    font-family: "ONE Mobile Regular","ONE Mobile Bold",sans-serif;
}
body{
    /* position: relative; */
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
}
ul{list-style: none;}
a{
    text-decoration: none; 
    color:inherit;
}
a, span, i{
    display: inline-block;
}
img, frame{
    max-width: 100%;
    vertical-align: middle;
}
input, textarea, select, button, fieldset{
    -webkit-appearance:none;
    border-radius: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.flex{
    display: flex;
    justify-content: space-between;
}
h1, h2, h3, h4, h5, h6{
    color: #111;
}
.inner{
    position: relative;
    min-width: 320px;
    margin:0 auto ;
}

#content .sec{
    margin-top: var(--space60);
    text-align: center;
}
#content .tit{
    font-size: 7vw;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    line-height: 1.3;


}
#content .tit strong{
    /* font-family: "ONE Mobile Bold"; */
    font-weight: 700;
}
.top{
    text-align: center;
    padding-top:60px ;
    margin-bottom: var(--space60);
    background: url(../images/dinmyu_art_01.jpg) no-repeat center/cover;
}
.top .top_tit{
    font-size: 22px;
    line-height: 1.5;
}
.top .top_tit>p{
    font-size: 18px;
    padding-bottom: 20px;
}
.top .top_tit .top_area{
    width: 60%;
    border-radius: 25px;
    background: var(--foint-color);
    padding: 5px var(--space10);
    margin: 30px auto 0;
    
}
.top .top_tit .top_area>h2{
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
    color: #fff;
    
}

.top img{
    width: 30%;
    margin: var(--space60) auto;
}
/* visual */

#visiual video{
    max-width: 100%;
}

/* review */
.review .re_area{
    margin: 10px 20px;
    color: var(--foint2-color);
    text-align: left;
}
.review .re_area li{
    /* background: #edf2ff; */
    border-radius: 20px;
    padding: 30px 0;
    margin: 30px 0;
}
.review .re_area li:nth-child(1){
    background: #edf2ff;
}
.review .re_area li:nth-child(2){
    background: #f8fad4;
}
.review .re_area li:nth-child(3){
    background: #dff4da;
}
.review .re_area li:nth-child(4){
    background: #ffeded;
}
.review .re_area li .re_tit{
    font-size: 6vw;
    font-family: "ONE Mobile Bold";
    font-weight: 700;
    padding: 30px calc(var(--space10)*2) 10px ;
}
.review .re_area li .re_txt{
    flex-direction: column;
}
.review .re_area li .re_txt .re_txt_area{
    justify-content: left;
    align-items: flex-end;
    font-size: 4.5vw;
    padding: var(--space10) 20px;
}
.review .re_area li .re_txt .re_txt_area p{
    margin-left: var(--space10);
}
.review .re_area li .re_txt .re_txt_area img{
    width: 30%;
}

/* 라인업 */
.lineUp h2.tit{
    margin-right: 20px;
}
.lineUp h2.tit strong{
    line-height: 2.3;
    word-break:break-all
}
.lineUp .list{
    padding: 20px;
}
.lineUp .list .book_list{
    flex-wrap: wrap;
    justify-content: space-around;
}
.lineUp .list .book_list li{
    width: calc((100%/2) - 20px);
    margin-top:calc(var(--space10)*2);
    padding: 10px;
}
.lineUp .list .book_list li img{
    border-radius: 10px;
}
.cancel{
    background: #e3f0fb;
    padding: 20px 0;
    /* background: #a3efa0; */
}
.cancel h2{
    font-size: 5.5vw;
    font-weight: 400;
    line-height: 1.7;
}

/* faq */


.faq .FAQ_sec{
    margin: 0 20px;
    padding: 30px 0;
}
.faq .FAQ_sec button{
    width: 100%;
    background: #f5f6f9;
    border-radius: 10px;
    padding: calc(var(--space10) + 5px);
    margin-bottom: var(--space10);
}
.faq .FAQ_sec button .accordion{
    flex-direction: column;
    text-align: left;

}
.faq .FAQ_sec button .accordion_header{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
    color: #333;
}
.faq .FAQ_sec button .accordion_header i{
    padding-left: var(--space10);
}
.faq .accordion_anser{
    font-size: 15px;
    letter-spacing: 0.28px;
    word-break:break-all;
    color: var(--text-color);
    padding-top: 15px;
    display: none;
}
.on{
    display: block;
}

#footer{
    margin-bottom: 100px;
    text-align: center;
    font-size: 12px;
}
.fixed_free{
    display: block;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    margin-bottom: 2vh;
    padding: 10px 20px;
    border-radius: 50px;
    background: #02c73c;
    /* font-size: 1.2vw; */
    font-size: 14px;
    /* font-weight: 700; */
    color: #fff;
    cursor: pointer;
    z-index: 100;

    text-align: center;
    
}

/* animation */
@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translateY(20px);}
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.ani_slideUp{
    animation: slideUp .6s ease-out both ;
}

@media screen and (min-width:760px){
    #content .tit{
        font-size: 3.5vw;
    }
    .top .top_tit{
        font-size: 2.7vw;
        line-height: 1.5;
    }
    .top .top_tit>p{
        margin-bottom:20px
    }
    .top .top_tit .top_area{
        width: 40%;
    }
    .top .top_tit .top_area>h2{
        font-size: 3vw;
    }    

    .review .re_area ul{
        display: flex;
        flex-wrap: wrap;

    }
    .review .re_area li>img{
        display: none;
    }
    .review .re_area li.re_book{
        background: url(../images/re_1.png) right no-repeat center / contain;
    }
    .review .re_area li{
        width: calc((100%/2) - 60px);
        padding: 25px;
        margin: 20px 20px 0 0;
    }
    .review .re_area li:nth-child(1),
    .review .re_area li:nth-child(2),
    .review .re_area li:nth-child(3),
    .review .re_area li:nth-child(4){
        background:#e3f0fb;
    }
    .review .re_area li:nth-child(2),
    .review .re_area li:nth-child(4){
        margin-right: 0;
    }
    .review .re_area li .re_tit{
        font-size: 2.5vw;
        text-align: left;
        padding: 10px;
    }
    .review .re_area li .re_txt .re_txt_area{
        font-size: 2vw;
        padding: var(--space10);
    }.review .re_area li .re_txt .re_txt_area img{
        width: 20%;
    }
    .lineUp .list .book_list li{
        width: calc((100%/3) - 20px);
    }
    .cancel h2{
        font-size: 3vw;
        line-height: 1.5;
    }
}



@media screen and (min-width:1100px){
    #content .sec{
        margin-top: 150px;
    }
    #content .tit{
        font-size: 2.7vw;
        margin: 0 7.29167vw;
    }
    .top{
        padding:100px 0;
        background: url(../images/dinmyu_art_03.jpg) no-repeat center center/cover;
        margin:0 0 150px 0;
    }
    .top .pc_flex{
        display: flex;
        justify-content: center;
        margin: 0 50px;
    }
    .top .top_tit{
        flex: 0.6;
        font-size: 2vw;
        line-height: 1.5;
        padding: 125px 0 0 100px;

        
    }
    .top .top_tit>p{
        font-size: 1.7vw;
    }
    .top .top_tit .top_area{
        width: 50%;
    }
    .top .top_tit .top_area>h2{
        font-size: 2vw;
    }
    .top img{
        flex: 0.2;
        width: 15%;
        padding-right: 100px;
    }
    .review .re_area{
        margin: 2.25vw 7.29167vw;
    }
    .review .re_area li:nth-child(1){
        background: url(../images/re_01-1.png) no-repeat right center/40% #e3f0fb;
    }
    .review .re_area li:nth-child(2){
        background: url(../images/3.png) no-repeat right center/40% #e3f0fb;
    }
    .review .re_area li:nth-child(3){
        background: url(../images/re_03.png) no-repeat right center/40% #e3f0fb;
    }
    .review .re_area li:nth-child(4){
        background: url(../images/re_04.png) no-repeat right center/40% #e3f0fb;
    }
    .review .re_area li .re_tit{
        font-size: 1.7vw;
    }
    .review .re_area li .re_txt .re_txt_area{
        font-size: 1.3vw;
    }
    .lineUp .list ul.book_list{
        flex-wrap: inherit;
    }
    .lineUp .list .book_list li{
        width: 100%;
        margin-top:calc(var(--space10)*3);
    }
    .cancel h2{
        font-size: 2.5vw;
        line-height: 1.5;
    }
    .faq .FAQ_sec{
    margin:0 7.29167vw;
    }    
    .fixed_free{
        font-size: 24px;
        padding: 15px 50px;
    }
}
